*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
body{
    background: rgb(238, 238, 238);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
form input, form select{
    width: 30%;
    height: 40px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid grey;
    padding-left: 10px;
}
form input:focus, form select:focus{
    outline: none !important;
    border: 1px solid rgba(0, 174, 255, 0.616);
    box-shadow: 0 0 8px #719ECE;
}
#btn{
    cursor: pointer;
    font-size: 15px;
}
#btn:hover{
    background: rgb(212, 212, 212);
}
fieldset{
    width: 30%;
    height: 30vh;
    border-radius: 4px;
    border: 1px solid black;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
fieldset div{
    margin-bottom: 10px;
}
legend{
    margin-left: 20px;
}
#result{
    font-size: 25px;
}
#cijene{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 80%;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}