@media only screen and (max-width: 600px) {
    form{
        margin-top: 30px;
    }
    form input, form select{
        width: 90%;
    }
    fieldset{
        width: 90%;
        margin-top: 40px;
        height: 200px;
    }
}