*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

h1{
    text-align: center;
    color: rgb(183, 35, 35);
}

p{
    text-align: center;
    color: rgb(120, 120, 120);
}
